#vsi-podatki {
    display: none;
}
.App {
    padding: 0;
    background-color: #999;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: 33% 33% 34%;
}
body {
    margin:0;
}
.golte-logo {
    grid-row: 1/2;
    grid-column: 1/2;
    padding: 1em;
    margin: 1em;
    width: 90%;
    align-self: flex-start;
    justify-self: flex-start;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 5em;
}

@media screen and (max-width: 1500px) {
    body {
        font-size: 14px;
    }
}

@media screen and (max-width: 1300px) {
    body {
        font-size: 12px;
    }
    .vreme span {
        font-size: 25px;
    }
}
@media screen and (max-width: 1100px) {
    .App {
        grid-template-columns: 33% 33% 34%;
        grid-template-rows: 33% 33% 34%;
    }
}

@media screen and (max-width: 900px) {
    .App {
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }
    .vreme {
        grid-row: 1/4;
        grid-column: 2/3;
    }
}

@media screen and (max-width: 600px) {
    .App {
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }
    .vreme {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    body {
        font-size: 8px;
    }
}